*{
    margin:100;
    padding:100;
    box-sizing:border-box;
}

body{
    background:#050505;
    color:white;
    font-family:Arial,sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:#111;
}

.menu-btn{
    background:none;
    border:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

.sidebar{
    position:fixed;
    top:0;
    right:-260px;
    width:250px;
    height:100%;
    background:#111;
    transition:0.3s;
    padding-top:70px;
    z-index:1000;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 20px;
}

.sidebar a:hover{
    background:#7b2cff;
}

.sidebar.active{
    right:0;
}

.hero{
    text-align:center;
    padding:50px 20px;
}

.hero h1{
    margin-bottom:10px;
}

.task-box{
    width:90%;
    margin:auto;
}

.task-card{
    background:#111;
    border:1px solid #7b2cff;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
}

.task-card h3{
    margin-bottom:10px;
}

button{
    background:#7b2cff;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    opacity:0.9;
}
.logo{
    font-size:42px;
    font-weight:900;
    background:linear-gradient(90deg,#7b2cff,#00b7ff,#ffd700);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.page-title{
    text-align:center;
    padding:30px;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    padding:20px;
}

input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
}
.phone-box{
    display:flex;
    gap:10px;
    margin-bottom:15px;
}

.phone-box input{
    flex:1;
    margin-bottom:0;
}

.otp-btn{
    width:60px;
    border:none;
    border-radius:12px;
    background:linear-gradient(
        90deg,
        #7b2cff,
        #a855f7
    );
    color:white;
    font-size:24px;
    cursor:pointer;
    transition:.3s;
}

.otp-btn:hover{
    transform:scale(1.05);
}
.hero-banner{
background:linear-gradient(
135deg,
#7b2cff,
#00b7ff
);

padding:25px;
border-radius:20px;
margin-bottom:25px;
}

.hero-banner h1{
margin-bottom:10px;
}

.stats-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-bottom:30px;
}
.user{
background:#1b1b25;
padding:8px 12px;
border-radius:10px;
cursor:pointer;
font-size:14px;
font-weight:600;
transition:0.3s;
display:inline-block;
}

.user:hover{
background:#7b2cff;
}
