body{
    margin:0;
    background:#050505;
    color:white;
    font-family:Arial,sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#111;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:40px;
}

.card{
    background:#121212;
    border:1px solid #7b2cff;
    border-radius:15px;
    padding:20px;
}

.task-box{
    margin:40px;
    background:#121212;
    padding:30px;
    border-radius:15px;
}

button{
    background:#7b2cff;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
}
.menu-btn{
    background:none;
    border:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

.sidebar{
    position:fixed;
    top:0;
    right:-250px;
    width:250px;
    height:100%;
    background:#111;
    transition:0.3s;
    padding-top:60px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px;
}

.sidebar.active{
    right:0;
}
